page-search {


  .home-background{

    background-image: url('../assets/imgs/back3.jpg');

    background-size: cover; }

  .change-item{

    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);


  }

}
